In [6]:
import pandas as pd
import os
import numpy as np
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
import re

In [44]:
df = pd.read_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/raw/all_data.csv")

In [46]:
df.head()

,pdate,pdate 2,marka,cheader,cheader 2,comments
0,Jul 20,2017,Fiesta,Transmission Failed,"39,234 miles","Since 2011, there have been numerous issues. T..."
1,Mar 18,2017,Fiesta,Transmission Failed,"50,013 miles","I have had this car for just over a year, but ..."
2,Jan 06,2017,Fiesta,Transmission Failed,"37,000 miles",I will NEVER be purchasing a Ford vehicle or i...
3,Oct 20,2016,Fiesta,Transmission Failed,"106,000 miles",I was reading a comment posted by another 2011...
4,Mar 14,2015,Fiesta SE 4 cyl,Transmission Failed,"42,000 miles",We bought this Fiesta in February 2015. We hav...

In [52]:
def preprocess_text(text):
    #Küçük harfe çevirme
    text = text.lower()
    #Noktalama İşaretlerini kaldırma
    text = re.sub(r'[^\w\s]', '', text)
    # Tokenizasyon
    tokens = nltk.word_tokenize(text)
    # Stop word
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]

    #Lemmatizasyon
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return tokens

In [56]:
# Fonksiyonu kullanarak işlemleri uygulama
df['comments'] = df['comments'].apply(preprocess_text)

AttributeError: 'list' object has no attribute 'lower'

In [60]:
print(df['comments'].head())

0    [since, 2011, numerous, issue, vehicle, reache...
1    [car, year, driven, 21, day, car, currently, f...
2    [never, purchasing, ford, vehicle, item, ever,...
3    [reading, comment, posted, another, 2011, ford...
4    [bought, fiesta, february, 2015, many, problem...
Name: comments, dtype: object

In [62]:
df.to_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/raw/preprocessed_data.csv")

In [64]:
veri = pd.read_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/raw/preprocessed_data.csv")
veri.head(10)

,Unnamed: 0,pdate,pdate 2,marka,cheader,cheader 2,comments
0,0,Jul 20,2017,Fiesta,Transmission Failed,"39,234 miles","['since', '2011', 'numerous', 'issue', 'vehicl..."
1,1,Mar 18,2017,Fiesta,Transmission Failed,"50,013 miles","['car', 'year', 'driven', '21', 'day', 'car', ..."
2,2,Jan 06,2017,Fiesta,Transmission Failed,"37,000 miles","['never', 'purchasing', 'ford', 'vehicle', 'it..."
3,3,Oct 20,2016,Fiesta,Transmission Failed,"106,000 miles","['reading', 'comment', 'posted', 'another', '2..."
4,4,Mar 14,2015,Fiesta SE 4 cyl,Transmission Failed,"42,000 miles","['bought', 'fiesta', 'february', '2015', 'many..."
5,5,Nov 05,2016,Fiesta SES,Transmission Failed,"100,000 miles","['car', 'two', 'year', 'car', 'simply', 'quit'..."
6,6,Dec 26,2013,Fiesta,Transmission Failed,"114,905 miles","['huge', 'safety', 'concern', 'especially', 'f..."
7,7,Aug 15,2012,Fiesta SE 4,Transmission Failed,"5,672 miles","['winnipeg', 'entering', 'ramp', 'driving', 'c..."
8,8,Jan 08,2016,Fiesta SE 4,Transmission Failed,"127,047 miles","['purchased', 'car', 'good', 'faith', 'ford', ..."
9,9,Nov 29,2015,Fiesta SE 4,Transmission Failed,"61,400 miles","['purchased', '2011', 'ford', 'fiesta', 'octob..."

In [10]:
df2 = pd.read_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/raw/all_data.csv")

In [14]:
def stem_text(text):
  # Küçük harfe çevirme
  text = text.lower()
  # Noktalama işaretlerini kaldırma
  text = re.sub(r'[^\w\s]', '', text)
  # Tokenizasyon
  tokens = nltk.word_tokenize(text)
  # Stop word temizleme
  stop_words = set(stopwords.words('english'))
  tokens = [token for token in tokens if token not in stop_words]
 

  # Stemming
  stemmer = PorterStemmer()
  tokens = [stemmer.stem(token) for token in tokens]
  return tokens

In [16]:
df2['comments_stemmed'] = df2['comments'].apply(stem_text)

In [18]:
df2.to_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/raw/preprocessed_data_stemmed_only.csv",index=False)

In [20]:
veri2 = pd.read_csv("C:/Users/yunus/Desktop/Bahar Dersleri/Yapay Zeka Proje/arac-arizadeseni-eslestirme/data/processed/preprocessed_data_stemmed_only.csv")

In [22]:
veri2.head()

,pdate,pdate 2,marka,cheader,cheader 2,comments,comments_stemmed
0,Jul 20,2017,Fiesta,Transmission Failed,"39,234 miles","Since 2011, there have been numerous issues. T...","['sinc', '2011', 'numer', 'issu', 'vehicl', 'r..."
1,Mar 18,2017,Fiesta,Transmission Failed,"50,013 miles","I have had this car for just over a year, but ...","['car', 'year', 'driven', '21', 'day', 'car', ..."
2,Jan 06,2017,Fiesta,Transmission Failed,"37,000 miles",I will NEVER be purchasing a Ford vehicle or i...,"['never', 'purchas', 'ford', 'vehicl', 'item',..."
3,Oct 20,2016,Fiesta,Transmission Failed,"106,000 miles",I was reading a comment posted by another 2011...,"['read', 'comment', 'post', 'anoth', '2011', '..."
4,Mar 14,2015,Fiesta SE 4 cyl,Transmission Failed,"42,000 miles",We bought this Fiesta in February 2015. We hav...,"['bought', 'fiesta', 'februari', '2015', 'mani..."